@use "variables" as *;
@use "mixins" as *;

%block {
  @include flexible-box(column, space-between, center);
  margin: $block-margin;
  border: 2px solid $grey-color;
  background: $white-color;
  border-radius: 5px;
}
