main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(var(--small)+var(--medium)+var(--large)+calc(6*(var(--block-margin))));
    margin: 0 auto; 
}

.block--small, 
.block--medium, 
.block--large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 2px solid var(--grey-color);
    background: var(--white-color);
    border-radius: 5px; 
}
    
.block--small {
    width: var(--small); 
}
  
.block--medium {
    width: var(--medium); 
}
  
.block--large {
    width: var(--large); 
}
  
.block__title, 
.block__title--green, 
.block__title--blue, 
.block__title--orange {
    margin: 0;
    font-size: 2rem;
    padding: var(--elem-padding);
    color: var(--white-color);
    border-radius: 5px 5px 0 0; 
}

.block__title--green {
    background: var(--green-color); 
}

.block__title--blue {
    background: var(--blue-color); 
}

.block__title--orange {
    background: var(--orange-color); 
}
  
.block__description {
    padding: var(--elem-padding);
}
  
.block__notes {
    padding: var(--elem-padding);
    background: var(--grey-color);
    font-style: italic; 
}
  